<ion-view view-title="Visit Info">
    <ion-content padding="true" scroll="true">

    	<div class="mapim">
    		<img src="img/map.png">
    	</div>

		<div class="person">
			<h2>{{firstname}}</h2>
			<h3>Here's the plan!</h3>
			<h6>We'll call your name at approx</h6>
			<h4>11:36pm</h4>
		</div>    	

		<ion-list class="padfix">
		  <ion-item class="item-icon-right block">
		    <h2>Clinical</h2>
		    <p class="small">This is just to make sure </p>
		    <i class="icon ion-ios-clock-outline"><p class="size">7 minutes</p></i>
		  </ion-item>
		  <ion-item class="item-icon-right block">
		    <h2>Vitals</h2>
		    <p class="small">Lorem Ipsum</p>
		    <i class="icon ion-ios-clock-outline"> <p class="size">5 minutes</p></i>
		  </ion-item>
		  <ion-item class="item-icon-right block">
		    <h2>Consult w/ Med Student</h2>
		    <p class="small">This is just to make sure </p>
		    <i class="icon ion-ios-clock-outline"> <p class="size">4 minutes</p></i>
		  </ion-item>
		  <ion-item class="item-icon-right block">
		    <h2>Consult with Med Resident</h2>
		    <p class="small">This is just to make sure </p>
		    <i class="icon ion-ios-clock-outline"> <p class="size">8 minutes</p></i>
		  </ion-item>
		  <ion-item class="item-icon-right block">
		    <h2>Session w/ Bridge</h2>
		    <p class="small">Insurance, labs and referral</p>
		    <i class="icon ion-ios-clock-outline"> <p class="size">12 minutes</p></i>
		  </ion-item>
		  <ion-item class="item-icon-right block">
		    <h2>Session with Patient Educator</h2>
		    <p class="small">This is just to make sure </p>
		    <i class="icon ion-ios-clock-outline"> <p class="size">10 minutes</p></i>
		  </ion-item>

		 </ion-list>
	</ion-content >
</ion-view >